body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 11em; /* da sistemare una volta fatto l'abmburger*/
}


header {
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.logo {
    margin: 0 auto;
    background-position: center;
}


#menu {
    display: none;
    float: none;
    width: 90%;
    padding-top: 0.5em;
    font-size: 0.8em;
}

#hamburger {
    display: inline-flex;
    padding: 0em;
    align-self: center;
    padding: 0.7em 3em;
    border-radius: 1em;
    min-height: 3em;
    background-color: var(--btnColor);
    color: var(--clearTxtColor);
    font-weight: bold;
    font-size: 1em;
    border: 2px solid var(--btnColor);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#hamburger-menu {
    display: none;
}
#hamburger-menu.active{
    display: flex;
    flex-direction: column;
}
#hamburger-aperto.active {
    display: inline-flex;
}
#hamburger-chiuso.active {
    display: inline-flex;
}

#presentazione {
    display: block;
    text-align: center;
    padding: 3em;
}

#presentazione > img {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-bottom: 2em;
}

#filtri {
    float: none;
    width: auto;
    margin: 0;
}

#footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
}

#footer-bottom p {
    margin: 0.5em 0 0 0; /* solo margine sopra */
    font-size: 10pt;
    font-style: italic;
    text-align: center;
    flex: none;
    min-width: auto;
}

#categorie {
    padding: 4em 1em;
}

.categoria {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em 4em 1.5em;
}

#categorie ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.ultimoInserito, .carta {
    padding: 1em 1em 2.5em 1em;
}

.ultimoInserito dt, .carta dt {
    font-weight: 600;
    font-size: 1em;
    margin-top: 0.2em;
}

#carosello {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
    box-sizing: border-box;
}

.carosello-principale {
    width: clamp(250px, 90%, 450px); /* larghezza fluida ma controllata */
    aspect-ratio: 4 / 3;             /* proporzione orizzontale fissa */
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

.carosello-principale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1em;
  display: block;
}

.carosello-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    order: 2;
}

.carosello-thumbnails img {
    width: 40px;
    height: 40px;
}
