:root {
    --padding-top-mini: 5em;  
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: var(--padding-top-mini);
}

section {
    padding: 2em 2em;
}

.card-base:hover, .btn-base:hover { 
    transform: none; 
}

/*
====================================================
    SEZIONE HEADER
==================================================== 
*/

header {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1em;
}

#content-container.attivo {
    margin-top: 18.5em;
}

#logo-home{
    font-size: 4em;
}

#logo-link a {
    background-position: center;
    font-size: 2em;
}

#hamburger {
    all: unset;              
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;         
    color: var(--txtcolor);  
    cursor: pointer;  
}

#hamburger-aperto.attivo,
#hamburger-chiuso.attivo {
    display: flex;
}

#menu {
    display: none;
    width: 100%;
    padding-top: 0.5em;
    box-shadow: 0 -0.5em 0.5em -0.5em rgba(0,0,0,0.3); 
    flex-basis: 100%;
    order: 3;
}

#menu.attivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1-5);
    margin-bottom: 1.2em;
}

#menu .nav-links, 
#menu .nav-auth {
    flex-direction: column;
}

#menu .nav-links{
    gap: var(--gap-1);
}

#menu .nav-auth {
    gap: var(--gap-1-5);
}

/*
====================================================
    SEZIONE FOOTER
==================================================== 
*/

#footer-top > ul {
    flex-direction: column;
    text-align: center;
}

#site-map {
    gap: 0.8em;
}

#footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-0-5);
    text-align: center;
}

#footer-bottom p {
    margin-top: 0.5em; 
    flex: none;
}

/*
====================================================
    SEZIONE IMMAGINE + TESTO
==================================================== 
*/

.img-text-section {
    flex-direction: column;
    align-items: center;
    text-align: center;  
    gap: var(--gap-1);
}

.img-text-section h2 {
    text-align: center;
}

.img-text-section > img {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    margin: 0;
}

.img-text-section .azioni {
    justify-content: center;
}

/*
====================================================
    SEZIONE FILTRI
==================================================== 
*/

#aside-style-layout {
  flex: 1 1 auto;         
  width: 100%;            
  min-width: unset;       
  margin: 0 auto;          
  padding: 0;              
}


#aside-mini-layout {
    width: 100%;
    padding: 0;
}

#toggleFiltri {
    width: 100%;         
    max-width: 40em;
    display: block;
    padding: var(--padding-base);
    font-size: var(--fs-h3-titolo-card);
    margin: 0 auto;
}

#toggleFiltri::before {
    content: "›";
    margin-right: 0.5em;
    font-size: var(--fs-h3-titolo-card);
}

#filtri {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    min-width: 350px;
    height: 100vh;
    background-color: var(--BgColor);
    border-radius: 0 1em 1em 0;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}

.filtri-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--BgColor);
    box-shadow: 0 4px 5px -6px rgba(0,0,0,0.4);
    z-index: 2;
}

#chiudiFiltri {
    all: unset;
    font-size: var(--fs-h3-titolo-card);
    cursor: pointer;
    color: var(--txtcolor);
}

#filtri .form-data {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1em;
    max-height: calc(100vh - 10em);
}

#filtri.attivo {
    gap: 0;
    left: 0 ;
    margin-left: 0;
    padding: 1.5em; 
}

/*
====================================================
    SEZIONE CATEGORIE
==================================================== 
*/

.categoria {
    gap: 1em;                 
    padding: 1em;             
}

.categoria img {
    width: 30%;               
    height: auto;
    flex-shrink: 0;
}

li.categoria > div {
    padding-bottom: 3em;
}

#categorie ul {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#esplora-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.esplora {
    padding-top: 0.5em;
}

/*
====================================================
    SEZIONE ULTIMOINSERITO + CARTA
==================================================== 
*/

.card-base {
    padding: 1em 1em 2em 1em;
}

.carta::before {
    top: -25px;
}

/*
====================================================
    SEZIONE ANNUNCIO + CAROSELLO
==================================================== 
*/

#annuncioTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
}

.info {
  flex: unset;
  max-width: 100%;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

#preferiti, #salvato {
    display: block;
    width: 90px;
}

#carosello {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.carosello-principale {
    width: clamp(250px, 90%, 450px); 
    aspect-ratio: 4 / 3;             
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

.carosello-principale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    display: block;
}

.carosello-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    order: 2;
}

.carosello-thumbnails img {
    width: 40px;
    height: 40px;
}

.descrizioneAnnuncio {
    width: auto;
    max-width: 100%;
    margin: 0 1.5em 2em;
}

/*
====================================================
    SEZIONE FORM (generico)
==================================================== 
*/

.form-container {
    width: auto;
    max-width: 100%;
    margin: 1.5em 0.5em;
}

.form-data {
    display:flex;
    flex-direction: column;
    gap: 1.5em; 
}

#filtri .form-data{
    padding: 0;
}
/*
====================================================
    SEZIONE PUBBLICA
==================================================== 
*/

#attr-generici-container, #attr-specifici-container fieldset {
    display: flex;
    flex-direction: column;
}

.img-campi {
    flex-direction: column;   
    align-items: center;      
}

.img-campi input[type="file"],
.img-campi input[type="text"],
.img-campi label {
    width: 100%;             
    text-align: center;       
}

/*
====================================================
    PROFILO
====================================================
*/

#profilo {
    padding: 1em;
}

#dati-pers-container {
    min-width: 220px;
}

.profilo-grid {
    grid-template-columns: 1fr;
}

.profilo-grid div {
    min-width: unset;
}

/*
====================================================
    ERRORI
====================================================
*/

.errore {
    padding: 2em;
}

/*
====================================================
    DA MODULARIZZARE
==================================================== 
*/

