body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 5em;
}

:hover {
    transform: none;
}

/*
====================================================
    SEZIONE HEADER
==================================================== 
*/

header {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1em;
}

.content-container.attivo {
    margin-top: 16em;
}

.logo {
    /* margin: 0 auto; */
    background-position: center;
    font-size: 4em;
}

#menu {
    display: none;
}

#hamburger {
    all: unset;              
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;         
    color: var(--txtcolor);  
    cursor: pointer;  
}

#hamburger span {
    line-height: 1;
}

#hamburger-menu {
    display: none;
    width: 100%;
    padding-top: 0.5em;
    box-shadow: 0 -10px 6px -10px rgba(0,0,0,0.3); 
}

#hamburger-menu.attivo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.8em;
    font-size: 1.1em;
    margin-bottom: 1.2em;
}

#hamburger-menu .nav-links, #hamburger-menu .nav-auth {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 500;
    flex-direction: column;
}

#hamburger-menu .nav-links{
    gap: 0.7em;
}

#hamburger-menu .nav-auth {
    gap: 1.6em;
}

#hamburger-currentLink {
    /* order: -1; /* chiedere se è va bene o rompe lo schema mnemonico*/
    text-decoration: none;
    font-weight: bold;
    background-image: url("../assets/stellina.png"), url("../assets/stellina.png");
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: 1em, 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-transform: uppercase;
}

#hamburger-menu li{
    color: var(--txtcolor);
}

#hamburger-menu a {
    color: var(--txtcolor);
    padding: 0.3em 0.6em;
}

#hamburger-menu .nav-links a{
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

#hamburger-menu a:visited {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--visited);
}

#hamburger-menu .btn {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--clearTxtColor); 
    background-color: var(--btnColor);
    border: 2px solid var(--btnColor);
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#hamburger-menu .btn:visited{    
    color: var(--btnColor);
    background-color: var(--BgColor);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#hamburger-aperto.attivo {
    display: flex;
}
#hamburger-chiuso.attivo {
    display: flex;
}

/*
====================================================
    SEZIONE FOOTER
==================================================== 
*/

#footer-top > ul {
    flex-direction: column;
    text-align: center;
}

#footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
}

#footer-bottom p {
    margin-top: 0.5em; 
    font-size: 10pt;
    font-style: italic;
    text-align: center;
    flex: none;
    min-width: auto;
}

/*
====================================================
    SEZIONE HERO
==================================================== 
*/

#presentazione {
    display: block;
    text-align: center;
    padding: 3em;
}

#presentazione > img {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-bottom: 2em;
}

#presentazione .azioni {
    justify-content: center;
}

/*
====================================================
    SEZIONE FILTRI
==================================================== 
#filtri {
    float: none;
    width: auto;
    margin: 0;
}
*/

#aside-style-layout{
    float: none;
    width: auto;
    margin: 0;
}

#aside-mini-layout {
    width: 100%;
    padding: 0 2em;
}

#ricerca,
#toggleFiltri {
    width: 100%;         
    max-width: 40em;      
    margin: 0 auto;        
    box-sizing: border-box;
}

#ricerca .form-data {
    padding: 0;
}

#toggleFiltri {
    display: block;
    padding: 0.8em 1.2em;
    font-size: 1em;
    border-radius: 1em;
    background-color: var(--btnColor);
    color: var(--clearTxtColor);
    font-weight: bold;
    border: none;
    text-align: left;
    margin: 1em auto;
}

#toggleFiltri::before {
    content: "›";
    margin-right: 0.5em;
    font-size: 1.5em;
}

#filtri {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    min-width: 350px;
    height: 100vh;
    background-color: var(--BgColor);
    border-radius: 0 1em 1em 0;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}

.filtri-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--BgColor);
    box-shadow: 0 4px 5px -6px rgba(0,0,0,0.4);
    z-index: 2;
}

#chiudiFiltri {
    all: unset;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--txtcolor);
}

#filtri .form-data {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1em;
    max-height: calc(100vh - 8em);
}

#filtri.attivo {
    gap: 0;
    left: 0 ;
    margin-left: 0;
    padding: 1.2em; 
}

/*
====================================================
    SEZIONE CATEGORIE
==================================================== 
*/

#categorie {
    padding: 1em;
}

.categoria {
    display: flex;
    flex-direction: row;       
    align-items: center;
    gap: 1em;                 
    padding: 1em;             
}

.categoria img {
    width: 30%;               
    height: auto;
    flex-shrink: 0;
}

li.categoria > div {
    padding-bottom: 2em;
}

#categorie ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.esplora {
    padding-top: 0.5em;
}

/*
====================================================
    SEZIONE ULTIMOINSERITO + CARTA
==================================================== 
*/

.ultimoInserito, .carta {
    padding: 1em 1em 2.5em 1em;
}

.ultimoInserito dt, .carta dt {
    font-weight: 600;
    font-size: 1em;
    margin-top: 0.2em;
}

.ultimoInserito::before, .carta::before {
    top: -25px;
}

/*
====================================================
    SEZIONE ANNUNCIO + CAROSELLO
==================================================== 
*/

#annuncioTop {
    padding: 0.5em; 
}

#carosello {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
    box-sizing: border-box;
}

.carosello-principale {
    width: clamp(250px, 90%, 450px); 
    aspect-ratio: 4 / 3;             
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

.carosello-principale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    display: block;
}

.carosello-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    order: 2;
}

.carosello-thumbnails img {
    width: 40px;
    height: 40px;
}

.descrizioneAnnuncio {
    width: auto;
    max-width: 100%;
    margin: 2em 0.5em;
}

/*
====================================================
    SEZIONE FORM (generico)
==================================================== 
*/

#login-container,
#register-container,
#pubblica-container {
    width: auto;
    max-width: 100%;
    margin: 1.5em 0.5em;
}

#register-container .form-data, #pubblica-container .form-data {
    display:flex;
    flex-direction: column;
    gap: 1.5em; 
}

#filtri .form-data{
    padding:0;
}
/*
====================================================
    SEZIONE PUBBLICA
==================================================== 
*/

#attr-generici-container, #attr-specifici-container fieldset {
    display: flex;
    flex-direction: column;
}

.img-campi {
    flex-direction: column;   
    align-items: center;      
}

.img-campi input[type="file"],
.img-campi input[type="text"],
.img-campi label {
    width: 100%;             
    text-align: center;       
}