* {
    padding: 0em; /*eliminare il default per garantire che sia simile su tutti i browser*/
    margin: 0em;
    box-sizing: border-box;
}

:root { /* definizione variabili globali */
  --BgColor: #83adf0;
  --breadColor: #83adf0;
  --hoverNav: #aec6ed;
  --txtcolor: #293845;
  --clearBgColor: #fffacd;
  --clearTxtColor: #fffacd;
  --btnColor: #16286e;
  --btnAction: #efc062;
  --visited: #720b25;
  --card: #d9e0ec;
  --eventiColor: #0565a8; 
  --esperimentiColor: #8736d1;
  --affittiColor: #c30d43;
  --ripetizioniColor: #0a7053;
}

html, body{ /* => da applicare a tutto */
    font-size: 100%; /* adotta le impostazioni dell'utente */
    font-family:"Lexend", "Roboto", sans-serif; /*"Lexend" => font di google, "Roboto", => entrambi molto accessibili*/
    line-height: 1.5em; /* da sapere a memoria */
    margin: 0;
}


body {
    background-color: var(--clearBgColor);
    color: var(--txtcolor);
}

main {
    /* min-height: 100vh; da controllare come bloccare il footer */
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.enfasi{
    font-weight: bold;
}

/*
====================================================
    SEZIONE HEADER
==================================================== 
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em; 
    background-color: var(--BgColor);
}

.logo {
    display: block;
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 8em; 
    width: 2em;
    height: 1em;
    text-indent: -9999em; /* nasconde il testo visivamente */

}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 2em;
    font-size: 1.1em;
}

#menu .links, #menu .autent {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

#menu .links {
    flex: 1;
    gap: 4em;
    justify-content: center;
    color: var(--link);
}

#menu .autent {
    gap: 2em;
    justify-content: flex-end;
}

#menu li{
    color: var(--txtcolor);
}

#menu a {
    color: var(--txtcolor);
    padding: 0.3em 0.6em;
}

#menu .links a{
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

#menu a:visited {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--visited);
}

#currentLink {
    text-decoration: none;
    font-weight: bold;
    background-image: url("../assets/stellina.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}

#menu a:not(.btn):hover, #menu a:not(.btn):focus {
    border-radius: 1em;
    background-color: var(--hoverNav);
    padding: 0.3em 0.6em;   
    /*outline: 2px solid var(--hoverNav);
    outline-offset: 6px;*/
}

#currentLink .btn {
    background-size: 1em;
    padding-left: 2em;
    background-position: left center;
}

#menu .btn, #presentazione .btn {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--clearTxtColor); 
    background-color: var(--btnColor);
    border: 2px solid var(--btnColor);
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu .btn:visited, #presentazione .btn:visited {
    color: var(--btnColor);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu .btn:visited{    
    background-color: var(--BgColor);
}

#presentazione .btn:visited {
    background-color: var(--clearBgColor);
}

#menu .btn:hover, #menu .btn:focus, #presentazione .btn:hover, #presentazione .btn:focus {
    background-color: var(--btnAction);
    color: var(--btnCor);
    outline: 2px solid var(--btnColor);
    outline-offset: 1px;
}

/*#menu .btn:visited:hover, #menu .btn:visited:focus, #presentazione .btn:visited:hover, #presentazione .btn:visited:focus {
    background-color: var(--btnColor);
    color: var(--btnVisited);
    outline: 2px solid var(--btnVisited);
    outline-offset: 1px;
}*/

/*
====================================================
    SEZIONE BREADCRUMB
==================================================== 
*/

#breadcrumb {
    display: flex;
    justify-content: center;
    background-color: var(--breadColor);
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 1em auto;
    font-size: small;
    width: fit-content; 
    max-width: 100%;
    /* position: sticky;
    top: 0; */
}

#breadcrumb ol {
    list-style: none;
    display: flex;
    gap: 0.5em;
    padding: 0em;
    margin: 0;
}

#breadcrumb li{
    white-space: nowrap; /*impedisce che vada a capo*/
    overflow: hidden;
    text-overflow: ellipsis; /* inserisce ... se viene tagliato */
    max-width: 20em;
}

.bold {
    font-weight: bold;
}

/*
====================================================
    SEZIONE HERO
==================================================== 
*/

#presentazione {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 2em 6em; 
    margin: 0 auto;
    max-width: 1200px;
}

#presentazione > img {
    flex: 0 1 40%;
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: auto;
}


#presentazione .testo {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#presentazione h2{
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

#presentazione p {
    font-size: 1.1em;
    line-height: 1.6;
}

#presentazione .azioni {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


/*
====================================================
    SEZIONE LOGIN
==================================================== 
*/

#login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 15em;
    max-width: 25em;
    padding: 2em;
    margin: 2em auto 2em auto;
    background-color: var(--BgColor);
    border-radius: 1em;
    gap: 1em;
}

#login-container h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-data >div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*
====================================================
    SEZIONE CATEGORIE
==================================================== 
*/

#categorie {
    padding: 3em 2em;
    background-color: var(--BgColor);
    text-align: center;
}

#categorie h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#categorie ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 1em;
}

.categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 1em;
    background-color: var(--clearBgColor);
    color: var(--txtcolor);
    text-align: left;
    transition: transform 0.3s ease;
}

.categoria img {
    width: 120px;
    height: auto;
    flex-shrink: 0;
}

.categoria .contenuto {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    flex: 1;
}

.categoria h3 {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0;
    color: var(--clearTxtColor);
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.categoria p {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

.categoria a {
    margin-top: 0.3em;
    font-size: 0.95em;
    color: var(--txtcolor);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.1em; 
    /*transition: color 0.3s ease;*/
    align-self: flex-end;
    padding: 0.3em 0.6em;
}

/*.categoria:hover {
    transform: scale(1.02);
}*/
/*
===========================================================================
    SEZIONE ETICHETTE CATEGORIA (IN SEZIONE CAT, CARD ULTIMI, CARD LISTA)
===========================================================================
*/
.catEventi {
  background-color: var(--eventiColor);
}

.catAffitti {
  background-color: var(--affittiColor);
}

.catEsperimenti {
  background-color: var(--esperimentiColor);
}

.catRipetizioni {
  background-color: var(--ripetizioniColor);
}

/*
===========================================================================
    SEZIONE LINK CATEGORIA (IN SEZIONE CAT, CARD ULTIMI, CARD LISTA)
===========================================================================
*/

.catEventiLink:visited {
    color: var(--eventiColor);
}

.catEsperimentiLink:visited {
    color: var(--esperimentiColor);
}

.catAffittiLink:visited {
    color: var(--affittiColor);
}

.catRipetizioniLink:visited {
    color: var(--ripetizioniColor);
}

.catEventiLink:hover, .catEventiLink:focus {
    /*color: var(--eventiColor);*/
    border-radius: 1em;
    color: var(--clearTxtColor);
    background-color: var(--eventiColor);
}

.catEsperimentiLink:hover, .catEsperimentiLink:focus {
    /*color: var(--esperimentiColor);*/
    border-radius: 1em;
    color: var(--clearTxtColor);
    background-color: var(--esperimentiColor);
}

.catAffittiLink:hover, .catAffittiLink:focus {
    /*color: var(--affittiColor);*/
    border-radius: 1em;
    color: var(--clearTxtColor);
    background-color: var(--affittiColor);
}

.catRipetizioniLink:hover, .catRipetizioniLink:focus {
    /*color: var(--ripetizioniColor);*/
    border-radius: 1em;
    color: var(--clearTxtColor);
    background-color: var(--ripetizioniColor);
}

/*
====================================================
    SEZIONE ULTIMI INSERITI
==================================================== 
*/

#ultimiInseriti {
  padding: 3em 2em;
  background-color: var(--clearBgColor);
  text-align: center;
}

#ultimiInseriti h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}


/*
====================================================
    CARD ULTIMI INSERITI + LISTA CARTE
==================================================== 
*/

#ultimiInseriti ul, #listaCarte {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.ultimoInserito, .carta {
  background-color: var(--card);
  border-radius: 1em;
  padding: 2em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: transform 0.3s ease;
}

/*.ultimoInserito:hover, .carta:hover {
  transform: scale(1.02);
}*/

.ultimoInserito h3 , .carta h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--clearTxtColor);
  padding: 0.5em 1em;
  border-radius: 1em;
  text-align: center;
}

.ultimoInserito h4, .carta h4 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.ultimoInserito dl, .carta dl {
    margin: 0;
    line-height: 1.5em;
    
}

.ultimoInserito dt, .carta dt {
    font-weight: 600;
    font-size: 1em;
    margin-top: 0.5em;
}

.ultimoInserito dt::after, .carta dt::after {
    content: ":";
}

.ultimoInserito dd, .carta dd {
  margin: 0;
  font-size: 1em;
}

.ultimoInserito a, .carta a {
    align-self: flex-end;
    font-weight: bold;
    color: var(--btnColor);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    padding: 0.3em 0.6em;
    /*transition: color 0.3s ease;*/
}

/*.ultimoInserito a:hover, .ultimoInserito a:focus, .ultimoInserito a:visited, .carta a:hover, .carta a:focus, .carta a:visited {
  color: var(--borgogna);
}*/

/*
====================================================
    SEZIONE FOOTER
==================================================== 
*/

footer {
    background-color: var(--BgColor);
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.freccia-su {
    background-color: var(--btnColor);
    padding: 1em;
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.3s ease;
}

.freccia-su img {
    height: 30px;
    width: auto;
    display: block;
}

.freccia-su:hover, .freccia-su:focus {
    transform: scale(1.1);
    outline: 2px solid var(--clearBgColor);
}

.logo-footer {
    height: 100px;
    margin-top: -1em;
    margin-bottom: 0.5em;
    pointer-events: none;
}

#footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#footer-bottom p{
    margin: 0;
    flex: 1 1 300px;
    min-width: 200px;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: var(--txtcolor);
}

.imgValidCode {
    height: 30px;
    width: auto;
}

/*
====================================================
    SEZIONE LOGIN
==================================================== 
*/

#login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 15em;
    max-width: 25em;
    padding: 2em;
    margin: 2em auto 2em auto;
    background-color: var(--BgColor);
    border-radius: 1em;
    gap: 1em;
}

#login-container h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-data >div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em;
}

input {
    border-radius: 1em;
    min-height: 3em;
    text-indent: 1em;
    background-color: var(--clearBgColor);
    color: var(--btnColor);
    font-weight: 600;
}


button {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 1em;
    min-height: 3em;
    background-color: var(--btnColor);
    color: var(--clearTxtColor);
    font-weight: 600;
    /*border-color: var(--clearBgColor);*/
}


/*
====================================================
    SEZIONE FILTRI + ESPLORA
==================================================== 
*/

#filtri {
  width: 25%;
  min-width: 300px;
  background-color: var(--BgColor);
  padding: 2em;
  border-radius: 1em;
  box-sizing: border-box;
  margin: 2em 2em 1em 2em; 
  float: left;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#filtri h2 {
  text-align: center;
  font-size: 1.4em;
}

#filtri form {
  display: flex;
  flex-direction: column;
}

#filtri fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#filtri label {
  font-weight: bold;
  margin-top: 1.5em;
}

#filtri input,
#filtri select,
#filtri button {
    width: 100%; /* si adattano al contenitore */
    padding: 0.6em 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 1em;
    min-height: 3em;
    border: 1px solid var(--btnColor);
    font-family: inherit;
    font-size: 1em;
    background-color: var(--clearBgColor);
}

#login-container button,
#filtri button {
  background-color: var(--btnColor);
  color: var(--clearTxtColor);
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#login-container button:hover, #login-container button:focus,
#filtri button:hover, #filtri button:focus {
  background-color: var(--btnVisited);
  color: var(--btnColor);
  outline: 2px solid var(--btnColor);
  outline-offset: 2px;
}

.esplora {
  padding: 2em;
}

.esplora h2 {
    margin-bottom: 1em;
}