* {
    padding: 0em; /*eliminare il default per garantire che sia simile su tutti i browser*/
    margin: 0em;
    box-sizing: border-box;
}

:root { /* definizione variabili globali */
  --azzurro: #7ca7eb;
  --txtcolor: #0e141c;
  --crema: #fffacd;
  --bluNotte: #16286e;
  --ocra: #efc062;
  --borgogna: #631C48;
  --cartaZucchero: #cedcf2;

  --eventiColor: #005b9b;
  --esperimentiColor: #7616cf;
  --affittiColor: #af0336;
  --ripetizioniColor: #07684c;
}

html, body{ /* => da applicare a tutto */
    font-size: 100%; /* adotta le impostazioni dell'utente */
    font-family:"Lexend", "Roboto", sans-serif; /*"Lexend" => font di google, "Roboto", => entrambi molto accessibili*/
    line-height: 1.5em; /* da sapere a memoria */
    margin: 0;
}


body {
    background-color: var(--crema);
    color: var(--txtcolor);
}

main {
    /* min-height: 100vh; da controllare come bloccare il footer */
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/*
====================================================
    SEZIONE HEADER
==================================================== 
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em; 
    background-color: var(--azzurro);
}

.logo {
    display: block;
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 8em; 
    width: 2em;
    height: 1em;
    text-indent: -9999em; /* nasconde il testo visivamente */

}



#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 2em;
    font-size: 1.1em;
}

#menu .links, #menu .autent {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#menu .links {
    flex: 1;
    gap: 4em;
    justify-content: center;
}

#menu .autent {
    gap: 2em;
    justify-content: flex-end;
}

#menu li{
    color: var(--txtcolor);
    font-weight: 500;
}

#menu a {
    text-decoration: none;
    color: var(--txtcolor);
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu a:visited {
    color: var(--borgogna);
}

#currentLink {
    text-decoration: underline;
    text-underline-offset: 0.2em; 
    font-weight: bold;
}

#menu .btn {
    background-color: var(--bluNotte);
    color: var(--crema);
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu a:not(.btn):hover, #menu a:not(.btn):focus {
    border-radius: 1em;
    outline: 2px solid var(--bluNotte);
    outline-offset: 6px;
} 

#menu .btn:visited {
    color: var(--ocra);
}

#menu .btn:hover, #menu .btn:focus {
    background-color: var(--ocra);
    color: var(--bluNotte);
    outline: 2px solid var(--bluNotte);
    outline-offset: 1px;
}

/*
====================================================
    SEZIONE BREADCRUMB
==================================================== 
*/

#breadcrumb {
    display: flex;
    justify-content: center;
    background-color: var(--azzurro);
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 1em auto;
    font-size: small;
    width: fit-content; 
    max-width: 100%;
}

#breadcrumb ol {
    list-style: none;
    display: flex;
    gap: 0.5em;
    padding: 0em;
    margin: 0;
}

#breadcrumb li{
    white-space: nowrap; /*impedisce che vada a capo*/
    overflow: hidden;
    text-overflow: ellipsis; /* inserisce ... se viene tagliato */
    max-width: 20em;
}

.bold {
    font-weight: bold;
}

/*
====================================================
    SEZIONE HERO
==================================================== 
*/

#presentazione {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 2em 6em; 
    margin: 0 auto;
    max-width: 1200px;
}

#presentazione > img {
    flex: 0 1 40%;
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: auto;
}


#presentazione .testo {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#presentazione h2{
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

#presentazione p {
    font-size: 1.1em;
    line-height: 1.6;
}

#presentazione .azioni {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#presentazione .btn {
    background-color: var(--bluNotte);
    color: var(--crema);
    padding: 0.6em 1.2em;
    border-radius: 1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#presentazione .btn:visited {
    color: var(--ocra);
}

#presentazione .btn:hover, #presentazione .btn:focus {
    background-color: var(--ocra);
    color: var(--bluNotte);
    outline: 2px solid var(--bluNotte);
    outline-offset: 2px;
}

/*
====================================================
    SEZIONE CATEGORIE
==================================================== 
*/

#categorie {
    padding: 3em 2em;
    background-color: var(--azzurro);
    text-align: center;
}

#categorie h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#categorie ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 1em;
}

.categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 1em;
    background-color: var(--crema);
    color: var(--txtcolor);
    text-align: left;
    transition: transform 0.3s ease;
}

.categoria img {
    width: 120px;
    height: auto;
    flex-shrink: 0;
}

.categoria .contenuto {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    flex: 1;
}

.categoria h3 {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0;
    color: var(--crema);
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.categoria p {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

.categoria a {
    margin-top: 0.3em;
    font-size: 0.95em;
    color: var(--txtcolor);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.1em; 
    transition: color 0.3s ease;
}

.categoria:hover {
    transform: scale(1.02);
}

.categoria:nth-child(1)  a:hover, .categoria:nth-child(1) a:focus {
    color: var(--eventiColor);
}

.categoria:nth-child(2)  a:hover, .categoria:nth-child(2) a:focus {
    color: var(--esperimentiColor);
}

.categoria:nth-child(3)  a:hover, .categoria:nth-child(3) a:focus {
    color: var(--affittiColor);
}

.categoria:nth-child(4)  a:hover, .categoria:nth-child(4) a:focus {
    color: var(--ripetizioniColor);
}

/*
====================================================
    SEZIONE ULTIMI INSERITI
==================================================== 
*/

#ultimiInseriti {
  padding: 3em 2em;
  background-color: var(--crema);
  text-align: center;
}

#ultimiInseriti h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}


/*
====================================================
    CARD ULTIMI INSERITI + LISTA CARTE
==================================================== 
*/

#ultimiInseriti ul, #listaCarte {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.ultimoInserito, .carta {
  background-color: var(--cartaZucchero);
  border-radius: 1em;
  padding: 2em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: transform 0.3s ease;
}

.ultimoInserito:hover, .carta:hover {
  transform: scale(1.02);
}

.ultimoInserito h3 , .carta h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--crema);
  padding: 0.5em 1em;
  border-radius: 1em;
  text-align: center;
}

.ultimoInserito dl, .carta dl {
  margin: 0;
}

.ultimoInserito dt, .carta dt {
  font-weight: bold;
  font-size: 0.95em;
  margin-top: 0.5em;
}

.ultimoInserito dd, .carta dd {
  margin: 0;
  font-size: 1em;
}

.ultimoInserito a, .carta a {
  align-self: flex-end;
  font-weight: bold;
  color: var(--bluNotte);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: color 0.3s ease;
}

.ultimoInserito a:hover, .ultimoInserito a:focus, .ultimoInserito a:visited, .carta a:hover, .carta a:focus, .carta a:visited {
  color: var(--borgogna);
}



/*
===========================================================================
    SEZIONE ETICHETTE CATEGORIA (IN SEZIONE CAT, CARD ULTIMI, CARD LISTA)
===========================================================================
*/
.catEventi {
  background-color: var(--eventiColor);
}

.catAffitti {
  background-color: var(--affittiColor);
}

.catEsperimenti {
  background-color: var(--esperimentiColor);
}

.catRipetizioni {
  background-color: var(--ripetizioniColor);
}

/*
====================================================
    SEZIONE FOOTER
==================================================== 
*/

footer {
    background-color: var(--azzurro);
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.freccia-su {
    background-color: var(--bluNotte);
    padding: 1em;
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.3s ease;
}

.freccia-su img {
    height: 30px;
    width: auto;
    display: block;
}

.freccia-su:hover, .freccia-su:focus {
    transform: scale(1.1);
    outline: 2px solid var(--crema);
}

.logo-footer {
    height: 100px;
    margin-top: -1em;
    margin-bottom: 0.5em;
    pointer-events: none;
}

#footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#footer-bottom p{
    margin: 0;
    flex: 1 1 300px;
    min-width: 200px;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: var(--txtcolor);
}

.imgValidCode {
    height: 30px;
    width: auto;
}

/*
====================================================
    SEZIONE LOGIN
==================================================== 
*/

#login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 15em;
    max-width: 25em;
    padding: 2em;
    margin: 2em auto 2em auto;
    background-color: var(--azzurro);
    border-radius: 1em;
    gap: 1em;
}

#login-container h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-data >div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
