RewriteEngine On

# =========================
# PERMESSI .env
# =========================
<Files ".env">
    Require all denied
</Files>

# =========================
# ERRORI
# =========================
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

# =========================
# REDIRECT PAGINE GENERALI
# =========================

# Home -> index.php
RewriteRule ^$ index.php [L]

# Altre Pagine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.php [L]